<main class="main-content">
  <h2>Books</h2>
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>ISBN</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.isbn %></td>
          <td><%= link_to('show', book_path(book.id)) %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to new_book_path, class: 'btn' do %>
    <i class="fa fa-plus-circle"></i>
    add book
  <% end %>
</main>
